* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    margin-top: 20px;
}
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("img/for_desktop.jpg");
    height: 100dvh;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
input, select {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}
footer {
    position: absolute;
    bottom: 0;
    /* margin-bottom: 10px; */
    text-align: center;
    width: 100%;
    margin: 10px 0;
    color: white;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    body {
        background-repeat: no-repeat;
        height: 100dvh;
        background-size: cover;
        background-image: url("../img/mobile_bg.jpg");
        width: 100%;
    }
    footer {
        margin-top: auto;
    }
}
